.dashboard-body {
  /* background-color: green; */
  width: 100%;
  justify-content: center;
  height: 100%;
}
.nav-bar {
  background-color: #460570;
  height: 70px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 40px;
  flex-direction: row;
}
.nav-title {
  width: 100%;
}
.dashboard-layout {
  height: 100%;
}
.left-dock {
  height: 100%;
  padding: 0px;
  background-color: #005faf;
}
.right-dock {
  height: 100%;
}
.hover-div {
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 18px;
  padding-left: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  /* background-color: red; */
  margin-bottom: 10px;
}

.hover-div:hover {
  background-color: white;
  color: black;
}

.category-section {
  margin-right: 10px;
  height: 100vh;
}
.category {
  /* background-color: #005faf; */
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-bottom: none;
  border-left: none;
  border-top: none;
  padding-left: 15px;
  padding-right: 15px;
  height: 100vh;
}
.category-title {
  height: 100px;
  display: flex;
  background-color: rgb(127, 97, 157);
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 0px;
  color: white;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  box-shadow: 5px 5px 20px rgb(176, 176, 176);
}

.no-gitter {
  padding: 0px;
}
.card-img-container {
  border-radius: 1000px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  justify-content: center;
  display: flex;
}
.card-img {
  object-fit: cover;
}
.card {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(237, 237, 237);
  display: flex;
  box-shadow: 5px 5px 20px rgb(176, 176, 176);
}
.card-holder {
  margin-top: 20px;
}
