.form-div {
  display: flex;
  justify-content: center;
  background-color: #460570;
  height: 100%;
  align-items: center;
}
.title {
  text-align: center;
}
.form {
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 550px;
  padding: 20px;
}

.form-body {
  text-align: left;
  padding: 20px 10px;
}

.form-body > * {
  padding: 5px;
}

.form__label {
  width: 40%;
}

.form_input {
  width: 60%;
}

.footer {
  text-align: center;
}
