.form-div {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.title {
  margin-top: 40px;
  text-align: center;
}
.form {
  opacity: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.879);
  border-radius: 20px;
  width: 550px;
  overflow: hidden;
}

.form-body {
  text-align: center;
  padding: 20px 10px;
}

.form-body > * {
  padding: 5px;
}

.form__label {
  width: 20%;
}

.form_input {
  width: 80%;
}

.footer {
  text-align: center;
}

.page-container {
  display: flex;
  height: 100%;
}

.form-container {
  background-image: url("../images/back.jpg");
  object-fit: fill;
  background-repeat: no-repeat;
  /* background-size: 1500px 1000px; */
  background-color: black;
  height: 100%;
  object-fit: cover;
}
/* .btns-container {
} */
.button {
  border-style: solid;
  display: flex;
  justify-content: center;
  height: 60px;
  align-items: center;
  border-left: none;
  border-color: #460570;
  cursor: pointer;
}
.active {
  background-color: #460570;

  color: white;
}
.btn {
  background-color: green;
  color: white;
  margin-bottom: 70px;
}
input {
  border-radius: 10px;
  border-width: 0.1px;
  padding: 10px;
}
